# Python virtual environment
backend/venv/

# Frontend
frontend/node_modules/

# Python cache files
__pycache__/
*.pyc

# Environment variables
.env

# IDE specific files
.vscode/
.idea/
project.json
